/* В этом файле будут храниться все значения переменных в исходном состоянии, 
а так же их изменения в зависимости от ширины устройства */

/*:root {
  
  
   
  --main-font-weight: 410;
  --titles-font-weight: 715;
  
  --page-wdth: clamp(375px, 260.56px + 30.52vw, 700px);
}*/

:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --main-font-wght: 410;
  --title-font-wght: 715;
  --main-font-size: 18px;
  --decoration-font-size: 14px;
  --container-border: 2px solid #000;
  --grad: repeating-linear-gradient(
    90deg, 
    #d3d3d3 0px, 
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px 
    ),
    repeating-linear-gradient(
    180deg, 
    #d3d3d3 0px, 
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
    ),
    linear-gradient(
    180deg,
    #e7e7e7 0%,
    #e7e7e7 0.01%,
    #1a1a1a 100%        
    );
    --heart-contour-color: #000;
    --heart-bg-color: red;
    --heart-sparks-color: red;
    --heart-core-color: #fff;
}